body{
    background-color: rgba(223, 196, 20, 0.9);;
    text-align: center;
}

div.container{
    width: min(800px, 90%);
    margin: 2rem auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    text-align: left;
}

table{
    width: 100%;
}

tale,th,td{
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

th,td{
    pading: 0.2rem;
    justify-content: center;
}
th:nth-child(1), th:nth-child(1){
    text-align: left;
}
th:nth-child(2), th:nth-child(2){
    text-align: left;
    width: 210px;
}
svg{
    background: black;
}